@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #212631;
  --bg-mid: #2a313f;
  --cui-body-color: white !important;
}

* {
  /* border-color: rgb(191, 191, 191) !important; */
}

.sidebar {
  background-color: var(--bg-light) !important;
  height: 100% !important;
}

.sidebar-header {
  padding: 0 !important;
}

.nav-title,
.nav-link {
  color: white !important;
  border-radius: 5px !important;
}

.nav-link:hover {
  background-color: var(--bg-mid) !important;
}

html,
body {
  color: white !important;
  background-color: #1d222b !important;
  height: 100% !important;
  width: 100% !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
