@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #212631;
  --bg-mid: #2a313f;
  --bg-dark: #1d222b;
  --cui-body-color: white !important;
}

.sidebar,
.modal-content {
  background-color: var(--bg-light) !important;
}

.modal-footer {
  border: none !important;
}

.sidebar {
  height: 100% !important;
}

.sidebar-header {
  padding: 0 !important;
}

.nav-title,
.nav-link {
  color: white !important;
  border-radius: 5px !important;
}

.nav-link:hover {
  background-color: var(--bg-mid) !important;
}

html,
body {
  color: white !important;
  background-color: var(--bg-dark) !important;
  height: 100% !important;
  width: 100% !important;
  overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  background-color: var(--bg-dark);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-mid);
  border-radius: 8px;
}
